{% for post in postslist | reverse %}
				<div>
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
				{% if post.data.date %}
					{{ page.date | justYear }}
				{% else %}
				{% endif %}
				</div>
			{% if post.data.summary %}
				<div style="margin-left:2em;">
					{{ post.data.summary }}
				</div>
			{% endif %}
	{% endfor %}
