<div class="slideshow" style="background-image: url('static/img/slideshow/truffle.jpg');"></div>
<div class="slideshow" style="background-image: url('static/img/slideshow/wombaoke.jpg');"></div>
<div class="slideshow" style="background-image: url('static/img/slideshow/shaggies.jpg');"></div>
<div class="slideshow" style="background-image: url('static/img/slideshow/reclaiming.jpg');"></div>
<div class="slideshow" style="background-image: url('static/img/slideshow/bangerbanner.jpg');"></div>
<div class="slideshow" style="background-image: url('static/img/slideshow/spores.jpg');"></div>
<div class="slideshow" style="background-image: url('static/img/slideshow/byrning.jpg');"></div>
<div class="slideshow" style="background-image: url('static/img/slideshow/protest.jpg');"></div>
<div class="slideshow" style="background-image: url('static/img/slideshow/kewcrew.jpg');"></div>
<div class="slideshow" style="background-image: url('static/img/slideshow/lyingworkshop.png');"></div>
<div class="slideshow" style="background-image: url('static/img/slideshow/bubblesmic.JPG');"></div>
<div class="slideshow" style="background-image: url('static/img/slideshow/bass.JPG');"></div>



<script language='javascript'>
  var myIndex = 0;
  slideshow();
  function slideshow() {
    var i;
    var x = document.getElementsByClassName("slideshow");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
      }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(slideshow, 2500);
    }
</script>
