---
layout: layouts/base.njk
section: home
---
{% include "components/slideshow.njk" %}
<div style="margin-left:0em;margin-top:0em;float:left; width: 30em; max-width: 100%; padding-right: 3em;">{{ layoutContent | safe }}</div>
<div style="clear: both; width:100%; height:2em;">{% include "components/nav.njk" %}</div>
