---
layout: layouts/base.njk
section: home
---
{% include "components/slideshow.njk" %}
<div style="margin-left:0em;margin-top:0em;float:left; max-width: 30em; width: 100%; padding-right: 3em;">{{ layoutContent | safe }}</div>
