---
layout: layouts/base.njk
section: post
---
  {{ layoutContent | safe }}
  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <small><a href="{{ tagUrl | url }}" >{{ tag }}</a></small>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/blog/' | url }}">← back to projects</a>
</nav>
